<ion-list-header color="secondary">
  <ion-label>Inicio</ion-label>
</ion-list-header>

<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>Bienvenido a iBiblioteca!</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    iBiblioteca es una aplicacion desarrolada con ionic que permite egstionar una biblioteca de un centro educativo. Para acceder a la biblioteca pulsa en el siguiente boton
  </ion-card-content>

  <ion-button fill="clear">Acceso a iBlibioteca</ion-button>
</ion-card>

<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>Informacion sobre el autor</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Aplicacion desarrolada por Dana Aguilar
  </ion-card-content>

  <ion-button fill="clear">Consultar informacion</ion-button>
</ion-card>